*{
    border: 1px dotted rgb(33, 241, 113);
}
body {
    margin: auto;
    max-width: 1000px;
    font-family: "Geneda", "Verdana", sans-serif;
    line-height: 1.5;
    padding: 10px 20px;
    color: #555;
}
div.cabecera > div{
    display: inline-block;

}
header > h1, header > h2{
color: #0E3569;
width: 450px;
padding: 10px;
margin: 5px;
}